/*////////////////////////////////////////////////////////////////////*/
/*  Page */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;

  box-sizing: border-box;
}

/*////////////////////////////////////////////////////////////////////*/
/*  Application */

.app {
  background-image: url("../background0.gif");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  backface-visibility: hidden;
  animation: moveInLeft 2s ease-out;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 2px 2px #ff000050;
  text-align: center;
}

.btn--round {
  border-radius: 10rem;
}

/*////////////////////////////////////////////////////////////////////*/
/*  Sessions */

.container__sessions {
}

.sessions--tab {
  border: none;
  outline: none;
  padding: 1rem 1.6rem;
  background-color: #f1f1f1;
  cursor: pointer;
  transition-duration: 0.4s;
  transition: all 0.2s;
}

/*////////////////////////////////////////////////////////////////////*/
/*  Pomodoro Timer */

.pomodoro__timer {
}

.timer {
}

/*////////////////////////////////////////////////////////////////////*/
/*  Controls */

.container__controls {
}

.control--btn {
  padding: 1rem 1.6rem;
  transition: all 0.2s;
}

/*////////////////////////////////////////////////////////////////////*/
/*  Session Counter */
.session__counter {
}

/*////////////////////////////////////////////////////////////////////*/
/*  States */

.active {
  background-color: #666;
  color: white;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*////////////////////////////////////////////////////////////////////*/
/*  YouTube */

iframe {
  transition: opacity 500ms ease-in-out;
  transition-delay: 250ms;
}

/* BUG BUTTON CHANGES BACKGROUND
  */

/* See how buttons look as like text */

// Clean up file structure
