/*////////////////////////////////////////////////////////////////////*/
/*  Base Page CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
  overflow: hidden;
}

#player {
  display: none;
}

.audioElement {
  display: none;
}

/*////////////////////////////////////////////////////////////////////*/
/*  Application */

.app {
  background-image: url("../static/background0.gif");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  backface-visibility: hidden;
  animation: moveInLeft 2s ease-out;
}

.container {
  position: absolute;
  top: 75%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: -2px 2px 0 rgba(138, 0, 0, 0.3), 2px 2px 0 rgba(138, 0, 0, 0.3),
    2px -2px 0 rgba(138, 0, 0, 0.3), -2px -2px 0 rgba(138, 0, 0, 0.3);
  color: rgb(235, 235, 235);
  text-align: center;
  width: 50%;
}

/*////////////////////////////////////////////////////////////////////*/
/*  Application */
.header {
  &__text-box {
    margin-bottom: 1rem;
  }

  &-primary {
  }
}

/*////////////////////////////////////////////////////////////////////*/
/*  Buttons */

.btn {
  border: none;
  outline: none;
  padding: 1rem 1.6rem;
  cursor: pointer;
  transition-duration: 0.4s;
  transition: all 0.2s;

  &--round {
    border-radius: 10rem;
  }

  &:hover {
    transform: translateY(-0.2rem);
    text-decoration: underline white 0.14rem;
  }

  &:active {
    transform: translateY(0rem);
  }
}

/*////////////////////////////////////////////////////////////////////*/
/*  Sessions */

.container__sessions {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/*////////////////////////////////////////////////////////////////////*/
/*  Pomodoro Timer */

.pomodoro__timer {
}

.timer {
}

/*////////////////////////////////////////////////////////////////////*/
/*  Controls */

.container__controls {
}

/*////////////////////////////////////////////////////////////////////*/
/*  Session Counter */
.session__counter {
}

/*////////////////////////////////////////////////////////////////////*/
/*  States */

.active {
  text-decoration: underline white 0.14rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*////////////////////////////////////////////////////////////////////*/
/*  YouTube */

iframe {
  transition: opacity 500ms ease-in-out;
  transition-delay: 250ms;
}

/*////////////////////////////////////////////////////////////////////*/
/*  Media Queries */

@media all and (max-width: 810px) {
  .container {
    width: 90%;
  }
}

@media all and (max-width: 507px) {
  .container {
    width: 65%;
  }
}

@media all and (max-width: 443px) {
  .container {
    width: 74%;
  }
}

@media all and (max-width: 389px) {
  .container {
    width: 84%;
  }
}

// Clean up file structure
// Dragable div? Optional
// Variables for colors?
// Mixins?
